/* Google fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14151c;
  /* background-color: linear-gradient(to top right, #14151c 50%, #f26722 50%);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25); */
}

.login {
  background-color: #fff;
  color: #f26722;
  border-radius: 6px;
  max-width: 430px;
  width: 100%;
  padding: 30px;
}

header {
  text-align: center;
}

form {
  margin-top: 30px;
}

input,
button {
  height: 100%;
  width: 100%;
  padding: 15px 15px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}

input {
  border: 3px solid #cacaca;
  color: #f26722;
}

input:focus {
  border: 3px solid #f26722;
}

::placeholder {
  color: #f26722;
}

.link {
  text-align: center;
  margin-top: 10px;
}
.input {
  margin-bottom: 15px;
}

button {
  background-color: #f26722;
  color: #fff;
}

button:hover {
  cursor: pointer;
  background-color: #c0896e;
}
